/* Classe principale de la barre de navigation */
.navbar-default {
 /* Couleur de fond de la barre de navigation */
 background-color: #414956;/*#02070E;/*#F8F8F8;*/
 border-color: #E7E7E7;
 display: inline-flex;
 height: 40px;
 padding-top: 2px;
}
/* Couleur des titres affichés dans la barre */
.navbar-default .navbar-brand {
 color: #fff ;/*777*/
 display: inline-flex;

}
/* Couleur utilisée lors du passage de la souris sur un titre de la barre */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
 color: white;/*#5E5E5E;*/
}
/* Couleur utilisée pour les liens */
.navbar-default .navbar-nav > li > a {
 color: #fff  ;
margin-right: 20px;
}
/* Couleur utilisée pour les liens lorsque la souris passe dessus */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
 color: #000;/*#333;*/
 background-color: #fff;/*#E7E7E7;*/
}
/* Couleur utilisée pour le lien actif (celui qui est affiché sur la page) */
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
 color: #000;
 background-color: #fff;
}
/* Couleur utilisée pour un menu dépliant lorsqu'il est ouvert */
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
 color: #555;
 background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
 border-top-color: #777;
 border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
 border-top-color: #333;
 border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret, 
.navbar-default .navbar-nav > .open > a:hover .caret, 
.navbar-default .navbar-nav > .open > a:focus .caret {
 border-top-color: #555;
 border-bottom-color: #555;
}
/* Version mobile, le menu devient une icône qui déroule une liste avec le menu en vertical */
.navbar-default .navbar-toggle {
 border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
 background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
 background-color: #CCC;
}
@media (max-width: 767px) {
 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
 color: #777;
 }
 .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
 .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
 color: #333;
 }
}
/*fin du controle de navbar*/
/*menubar*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);
.jquery-accordion-menu,.jquery-accordion-menu *
{font-family:'Open Sans',sans-serif;box-sizing:border-box;
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;outline:0}

.jquery-accordion-menu
{min-width:100px;
	float:left;
	position:relative;
	box-shadow:0 20px 50px #333}
.jquery-accordion-menu .jquery-accordion-menu-footer,.jquery-accordion-menu .jquery-accordion-menu-header
{width:100%;
	
	height:50px;
	padding-left:22px;
	float:left;
	line-height:50px;
	font-weight:600;
	color:#f0f0f0;
	background:#414956
	}
.jquery-accordion-menu ul
{margin:0;padding:0;list-style:none;position: fixed;width: 200px;}
.jquery-accordion-menu ul li
{width:100%;
	display:block;
	float:left;
	position:relative}
.jquery-accordion-menu ul li a
{width:100%;
	padding:14px 22px;
	float:left;
	text-decoration:none;
	color:#f0f0f0;
	font-size:13px;
	background:#414956;
	white-space:nowrap;
	position:relative;
	overflow:hidden;
	-o-transition:color .2s linear,background .2s linear;-moz-transition:color .2s linear,background .2s linear;-webkit-transition:color .2s linear,background .2s linear;transition:color .2s linear,background .2s linear}
.jquery-accordion-menu>ul>li.active>a,
.jquery-accordion-menu>ul>li:hover>a
{color:#fff;background:#3b424d}
.jquery-accordion-menu>ul>li>a
{border-bottom:solid 1px #3b424d}
.jquery-accordion-menu ul li a i{
	width:34px;float:left;line-height:18px;font-size:16px;text-align:left}
.jquery-accordion-menu .submenu-indicator{float:right;right:22px;position:absolute;line-height:19px;font-size:20px;-o-transition:transform .3s linear;-moz-transition:transform .3s linear;-webkit-transition:transform .3s linear;-ms-transition:transform .3s linear}
/*pour e titre de 'introduction*/'
#team{
	padding-top: 50px;
	padding-bottom: 50px;
	color :#555;
} 
h3
{
	padding-top: 10px;
	text-align: center;
	color: #555 !important;
	padding-bottom: 10px;

}
h3::after
{
	content: '';
	background: #007bff;
	display: block;
	height: 3px;
	width: 170px;
	margin: 2px auto 5px;


}
/**/